In [1]:
%load_ext sql

In [2]:
import boto3
import configparser
import matplotlib.pyplot as plt
import pandas as pd
from time import time

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("DWH","DWH_DB")
DWH_DB_USER= config.get("DWH","DWH_DB_USER")
DWH_DB_PASSWORD= config.get("DWH","DWH_DB_PASSWORD")
DWH_PORT = config.get("DWH","DWH_PORT")

In [4]:
# FILL IN THE REDSHIFT ENPOINT HERE
# e.g. DWH_ENDPOINT="redshift-cluster-1.csmamz5zxmle.us-west-2.redshift.amazonaws.com" 
DWH_ENDPOINT="dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com" 
    
#FILL IN THE IAM ROLE ARN you got in step 2.2 of the previous exercise
#e.g DWH_ROLE_ARN="arn:aws:iam::988332130976:role/dwhRole"
DWH_ROLE_ARN="arn:aws:iam::684094915114:role/dwhRole"

#### Connect to Redshift Cluster

In [5]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

In [6]:
s3 =  boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                     )

In [7]:
udacityBucket =  s3.Bucket("udacity-dend")
for obj in udacityBucket.objects.filter(Prefix="song_data/A/A/A/TRAAAA"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')

In [8]:
for obj in udacityBucket.objects.filter(Prefix="log_data/2018/11/2018-11-01"):
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')

#### Test tables created

In [9]:
%%sql 
select count(*) from staging_events

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [10]:
%%sql 
select * from staging_events where page='NextSong' and userid is null

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [11]:
%%sql
select count(*) from staging_songs

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [12]:
%%sql
select count(*) from songplay

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(319,)]

In [13]:
%%sql
select * from songplay limit 5

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(12, datetime.datetime(2018, 11, 24, 12, 43, 0, 796000), 73, 'paid', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 692, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (76, datetime.datetime(2018, 11, 29, 2, 36, 13, 796000), 54, 'free', 'SOTNHIP12AB0183131', 'ARD46C811C8A414F3F', 951, 'Yuba City, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (140, datetime.datetime(2018, 11, 14, 17, 48, 54, 796000), 80, 'paid', 'SOTJXIH12A6D228208', 'ARG85O51187B99CC1D', 574, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (204, datetime.datetime(2018, 11, 15, 10, 48, 15, 796000), 80, 'paid', 'SOTNWCI12AAF3B2028', 'ARS54I31187FB46721', 611, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (268, datetime.datetime(2018, 11, 17, 15, 41, 21, 796000), 73, 'paid', 'SONQLSC12AB01816E0', 'ARQFJDL1187B98BF86', 518, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [20]:
%%sql

    select t.year, level, title, count(*) as ct 
    from 
        songplay p 
    join time t 
    on p.start_time=t.start_time 
    join song s 
    on p.song_id=s.song_id 
    group by 
        t.year, level, title
    having ct > 1
    order by
        ct desc

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
33 rows affected.

[(2018, 'paid', "You're The One", 29),
 (2018, 'free', "You're The One", 8),
 (2018, 'paid', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 (2018, 'paid', "I CAN'T GET STARTED", 8),
 (2018, 'paid', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 5),
 (2018, 'paid', "Hey Daddy (Daddy's Home)", 5),
 (2018, 'paid', 'Make Her Say', 4),
 (2018, 'paid', 'Unwell (Album Version)', 4),
 (2018, 'paid', 'Supermassive Black Hole (Album Version)', 4),
 (2018, 'paid', 'Mr. Jones', 4),
 (2018, 'free', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 4),
 (2018, 'paid', 'Rianna', 3),
 (2018, 'free', 'Up Up & Away', 3),
 (2018, 'paid', 'From The Ritz To The Rubble', 3),
 (2018, 'paid', 'Caught Up In You', 2),
 (2018, 'paid', 'Girlfriend In A Coma', 2),
 (2018, 'paid', 'No Puedo Evitar (Pensar En Ti)', 2),
 (2018, 'paid', 'Crazy', 2),
 (2018, 'free', 'Fade To Black', 2),
 (2018, 'paid', 'Lovefool', 2),
 (2018, 'paid', 'Waterfall (Spirit Of The Rainforest Album Version)', 2),
 (2018, 'paid', 'VooDoo', 2),
 (2018, 'paid', 'Up Up & Away', 2),
 (2018, 'paid', 'Emergency (Album Version)', 2),
 (2018, 'paid', "What It Ain't", 2),
 (2018, 'paid', "Don't Panic", 2),
 (2018, 'free', 'Long Black Road', 2),
 (2018, 'paid', 'You Get What You Give', 2),
 (2018, 'paid', 'The Way I Loved You', 2),
 (2018, 'paid', 'Given Up (Album Version)', 2),
 (2018, 'paid', 'God Smack', 2),
 (2018, 'paid', "Let's Get It Started", 2),
 (2018, 'paid', 'Monsoon', 2)]

In [22]:
%%sql
select 
        year, level, round(avg(hour),2) as avg_hour 
from 
    songplay s 
join 
    time t 
on 
    s.start_time=t.start_time 
group by 
    level, year

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(2018, 'paid', Decimal('13')), (2018, 'free', Decimal('13'))]

In [24]:
%%sql
select 
        year, level, round(avg(weekday),2) as avg_weekday 
    from 
        songplay s 
    join 
        time t 
    on 
        s.start_time=t.start_time 
    group by 
        level, year

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(2018, 'paid', Decimal('3')), (2018, 'free', Decimal('3'))]

In [25]:
%%sql
select 
        year, 
        level, 
        sum(distinct(user_id)) as num_users 
    from 
        songplay s 
    join 
        time t 
    on 
        s.start_time=t.start_time 
    group by 
    year, level

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[(2018, 'paid', 1110), (2018, 'free', 2226)]

In [44]:
%%sql
select count(*) from users

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(104,)]

In [45]:
%%sql
select count(*) from artist

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [46]:
%%sql
select count(*) from time

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6813,)]

In [47]:
%%sql
select count(*) from song

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [34]:
%%sql
select * from  stl_load_errors le

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [35]:
%%sql
select table_name, column_name, data_type from information_schema.columns where table_name = 'songplay'

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
9 rows affected.

[('songplay', 'songplay_id', 'integer'),
 ('songplay', 'session_id', 'integer'),
 ('songplay', 'user_id', 'integer'),
 ('songplay', 'user_agent', 'character varying'),
 ('songplay', 'location', 'character varying'),
 ('songplay', 'artist_id', 'character varying'),
 ('songplay', 'song_id', 'character varying'),
 ('songplay', 'level', 'character varying'),
 ('songplay', 'start_time', 'timestamp without time zone')]

In [36]:
%%sql
select table_name, column_name, data_type from information_schema.columns where table_name = 'staging_events'

 * postgresql://dwhuser:***@dwhcluster.cm0sv7lz4ay6.us-west-2.redshift.amazonaws.com:5439/dwh
18 rows affected.

[('staging_events', 'registration', 'bigint'),
 ('staging_events', 'userid', 'integer'),
 ('staging_events', 'sessionid', 'integer'),
 ('staging_events', 'iteminsession', 'integer'),
 ('staging_events', 'length', 'double precision'),
 ('staging_events', 'useragent', 'character varying'),
 ('staging_events', 'status', 'character varying'),
 ('staging_events', 'song', 'character varying'),
 ('staging_events', 'page', 'character varying'),
 ('staging_events', 'method', 'character varying'),
 ('staging_events', 'location', 'character varying'),
 ('staging_events', 'level', 'character varying'),
 ('staging_events', 'lastname', 'character varying'),
 ('staging_events', 'gender', 'character varying'),
 ('staging_events', 'firstname', 'character varying'),
 ('staging_events', 'auth', 'character varying'),
 ('staging_events', 'artist', 'character varying'),
 ('staging_events', 'ts', 'timestamp without time zone')]